<form id="login-form">
  <div>
    <label for="account-input-login">Account Name</label>
    <input type="text" id="account-input-login" />
  </div>
  <div>
    <label for="password-input-login" class="form-label">Password</label>
    <input type="password" id="password-input-login" />
  </div>
  <button type="submit" id="login-btn">Log In</button>
  <p>Need an account? <a type="button" href="/signup">Sign up</a></p>
</form>

<script src="/js/login.js"></script>