<article>
  <header>
    <p>Written by {{post.Account.account_name}} &bull; {{format_date post.createdAt}}</p>
  </header>
  <pre class="post-body">{{post.body}}</pre>
  <hr>
  <section>
    <h3>Scratch</h3>
  <pre class="post-scratch">{{post.scratch}}</pre>
  </section>
</article>